body, ul, ol, li, section, article, header, footer, div, span,
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

body {
  font-size: 18px;
  font-family: RawengulkDemibold, sans-serif;
  background: #f1eeeb;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  clear: both;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  opacity: 0.5;
  padding: 2em 0 3em;
}

h1, h2, h3, input, textarea {
  font-family: RawengulkBold, sans-serif;
}

input[type=submit],
input[type=button],
.button {
  display: inline-block;
  border: 2px solid #EB606D;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  padding: 7px 20px 4px;

  background: #EF5763;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7580), to(#EF5763)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #FF7580, #EF5763); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #FF7580, #EF5763); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #FF7580, #EF5763); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #FF7580, #EF5763); /* Firefox 16+, IE10, Opera 12.50+ */
}
  input[type=submit]:hover,
  input[type=button]:hover,
  .button:hover {
    background: #FF8C95;
    border-color: #FF7580;
    cursor: pointer;
  }

#pitch {
  height: 450px;
  position: relative;
  background: #858585 url(../images/example.png) center -200px no-repeat;
  z-index: 0;
}
  #pitch header,
  #pitch .bar {
    height: 100%;
    min-height: 450px;
  }
  #pitch header {
    max-width: 1040px;
    margin: 0 auto;
  }
  #pitch .bar {
    background: rgba(0,0,0,0.1);
    width: 32%;
    display: inline-block;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    text-align: center; 
  }
  #logo {
    text-indent: -9999px;
    background: url(../images/logo.png);
    background-size: 100%;
    width: 259px;
    height: 36px;
    margin: 120px auto 32px;
    display: block;    
  }
  #pitch h2 {
    text-transform: uppercase;
    color: white;
    font-family: RawengulkUltralight, sans-serif;
    font-size: 24.5px;
    opacity: 0.9;
    margin-bottom: 32px;
  }
    #pitch h2 span {
      font-family: RawengulkBold, sans-serif;
      font-size: 20.5px;
    }

  #pitch input {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  #pitch input[type=text] {
    width: 75%;
    text-align: center;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    font-size: 19px;
    padding: 10px 15px;
    margin: 0 auto 1em;
    color: #ccc;
    -webkit-transition: box-shadow 0.15s ease-out;  /* Safari 3.2+, Chrome */
       -moz-transition: box-shadow 0.15s ease-out;  /* Firefox 4-15 */
         -o-transition: box-shadow 0.15s ease-out;  /* Opera 10.5–12.00 */
            transition: box-shadow 0.15s ease-out;  /* Firefox 16+, Opera 12.50+ */
  }
    #pitch input[type=text]:focus,
    #pitch input[type=text].focus {
      color: #4A2828;
      outline: none;
      box-shadow: 1px 1px 15px #EB606D, 0 0 5px #EB606D;
    }

#blog,
#thanks {
  max-width: 1040px;
  margin: 2em auto;
  position: relative;
}

#blog>* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#blog>article {
  background: white;
  border-radius: 3px;
  padding: 25px 25px 15px;
  margin-right: 35%;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  padding: 25px 25px 15px;
  border-radius: 3px;
  width: 33%;
}

/*article {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
}
#blog article:nth-child(3n) {
  margin-right: 0;
}*/
article.post h1, 
article.post .date {
  margin: 0.2em 0 0.5em;
  text-align: center;
}
article.post h1 {
  font-size: 26px;
}
article.post .date {
  font-size: 19px;
  line-height: 160%;
  color: rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-family: RawengulkBold, sans-serif;
}
article.post p,
article.post li {
  font-size: 17px;
  font-family: Baskerville, Georgia, serif;
  color: #444; 
}
article.post ol,
article.post ul {
  margin: 1em 0 1em 2em;
}
article.post li {
  display: list-item;
}
article.post ul li {
  list-style-type: disc;
}
article.post ol li {
  list-style-type: decimal;
}
article.post img {
  max-width: 100%;
}


